.botao {
    background-color: #6278F7;
    border-radius: 10px;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    padding: 28px;
    border: none;
    cursor: pointer;
    margin: 16px 0;
}

.botao:hover{
    color: #95FFD4;
}